.border-red{
  border: 2px solid red
}

.border-yellow{
  border: 2px solid yellow;
}

.border-blue{
  border: 2px solid blue
}

.alignedToCenter{
  justify-content:center;
}

.dragger-container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  background: -webkit-linear-gradient(bottom,#0b95d6,#0b95d6 370px,#fff 0);
  background: -o-linear-gradient(bottom,#0b95d6,#0b95d6 370px,#fff 370px);
  background: linear-gradient(0deg,#0b95d6,#0b95d6 370px,#fff 0);
  height: 200px;
}

.small-block{
  height:200px;
  width: 100%;
}
